:root {
    --margin-sm: 1rem;
    --margin-md: 2rem;
    --margin-lg: 3rem;

    --border-r-sm: 12px;
    --border-r-md: 24px;
    --border-r-lg: 36px;
      
    --bg-main: #0f172a;     
    --bg-surface: #1e293b;   
    --text-primary: #e5e7eb; 
    --text-muted: #9ca3af; 
    --accent: #38bdf8;
    --bg-footer: #e6eef6;
}

.project-img {
    width: 30rem;
    border-radius: var(--border-r-md);
    border: black solid;
    filter: drop-shadow(0 -6mm 4mm rgb(160 0 210));
}

b {
    color: var(--accent)
}

.section {
    margin: 5rem;
    
}

.heading {
    font-size: 5rem;
    justify-self: center;
    margin: var(--margin-lg);
}

.subheading {
    font-size: 3rem;
    margin-bottom: var(--margin-md);
}

body {
    background-color: var(--bg-main);
    color: var(--text-primary);
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

#img-1 {
    background-color: var(--bg-surface);
    border-radius: var(--border-r-md);
    border: black solid;
    margin-left: var(--margin-lg);
    margin-right: var(--margin-lg);
    height: 50rem;
    filter: drop-shadow(0 -6mm 4mm rgb(160 0 210));
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--margin-lg);
    
    
}

.card {
    display: flex;
    flex-direction: column;
}


#projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card h3{
    min-height: 8.5rem;
}

.card p{
    font-size: 1.5rem;
}

#button_1 {
    margin-top: auto;
    font-size: 1.5rem;
    color: var(--text-primary);
    width: 10rem;
    height: 5rem;
    background-color: var(--accent);
    border-radius: var(--border-r-sm);
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 7rem;
    gap: var(--margin-lg);
    align-content: center;
}

.skill_box {
    display: flex;
    background: linear-gradient(100deg, rgba(255,255,255,0.08),rgba(255,255,255,0.03));
    border-radius: var(--border-r-md);
    align-items: center;
    justify-content: center;
}

.contact_section {
    display: flex;
    flex-direction: column;
    gap: var(--margin-sm);
}


#git a {
    color: white;
}

.contact_section p {
    margin-right: 1rem;
}

nav {
    height: 5rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    background-color: var(--bg-surface);
    display: flex;
    z-index: 1;
}

nav ul {
    display: flex;
    list-style-type: none; 
    gap: 2rem;
    margin-left: auto;
    margin-right: var(--margin-md)
}


#contact-info h1 {
    margin-top: 2rem;
    color: white;
    margin-top: 0px;
    margin-bottom;: var(--margin-md)
}

#mambo {
    border-radius: var(--border-r-md);
}